node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
.env.*
!.env.example
logs
*.log
.DS_Store
.neon_local
acquisitions
.prettierrc
.prettierignore
eslint.config.js
